<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestion.Projet.ServiceDA.Properties.Settings.gestion_projet_connexion"
            connectionString="Data Source=LAPTOP-R64QAPSQ\SQLEXPRESS;Initial Catalog=gestion_projet_mvc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>